/* You can add global styles to this file, and also import other style files */

@import "theme.scss";

* {
    box-sizing: border-box;
}

body {
    background-color: $background;
}

html,body,ul,ol {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}