<div class="footer">
    <div class="address">
        <div class="address1">
            111 Lorem Ipsum Way
        </div>
        <div class="address2">
            Lorem Ipsum, Ipsum 12345
        </div>
    </div>

    <div class="phone">
        000.000.0000
    </div>
    
    <div class="social">
        <div class="facebook icon">
            <fa-icon [icon]="faFacebookSquare"></fa-icon>
        </div>
        <div class="twitter icon">
            <fa-icon [icon]="faTwitterSquare"></fa-icon>
        </div>
        <div class="instagram icon">
            <fa-icon [icon]="faInstagram"></fa-icon>
        </div>
    </div>
</div>