<div class="home">
    <div class="rotator">
        <img src="../../assets/Bracelets/bracelet1.png" alt="rotator placeholder">
    </div>

    <div class="featured">
        <div class="feature-item">

        </div>
        <div class="feature-item">

        </div>
        <div class="feature-item">

        </div>
    </div>

    <div class="owner">
        <div class="owner-image">
            <img src="../../assets/owner.jpeg" alt="">
        </div>

        <div class="owner-message">
            <div class="welcome">
                Welcome!
            </div>
            <div class="message">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dapibus consectetur odio, vitae faucibus sapien posuere
                eu. Nulla a urna sit amet enim aliquet aliquet. Vestibulum orci mauris, pretium tincidunt diam vitae, eleifend
                consectetur justo. Praesent varius lorem id neque dictum, eleifend rhoncus urna porttitor. Fusce non nisl dui. 
            </div>
        </div>
    </div>

</div>
